body {
  margin: 0;
  padding: 0;
  font-family:   "Poiret One";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color:#F6593B
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input{
  text-align: center;
  background-color: #FFF !important;
}
input[type=text]:focus {
  border: 0;
}
::-webkit-input-placeholder { text-align:center;color:#F6593B }
.logo{
  width: 180px;
  border-radius:200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding:30px
}
.nav-wrapper{
  background-color: #26ADF0
}
.teal-text{
  color: #26ADF0
}

.oppositeSlider{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 1s linear;
  
}
.oppositeSlider.opened{
  text-align: center;
  max-height: 500px; /* approximate max height */
  visibility: visible;
	opacity: 1
}
.slider {
	overflow-y: hidden;
	max-height: 100vh; /* approximate max height */
  transition: all 0.7s linear;
  margin: auto;
  text-align: center;
  border-radius: 5px;

}
.slider.closed {
  max-height: 0;
}
#showForm.closed{
  max-height: 0
}
.title{
  font-size: 6vh
}
textarea{
  padding: 10px !important;
  background-color: #FFF !important;
  height:20vh !important;
}
@media (min-width: 992px) {
  .slider{
    width: 40vw
  }
}
@media screen and (max-width: 768px) {
  .slider{
    width: 80vw
  }
}
